:root {
  --primary-color: #64ffda;
  --panel-color: #1DE9B6;
  --border-color: #26A69A;
  --link-color: #004D40;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#__next {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}